<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.addenda.biz.log.mapper.CascadeParentConfigMapper">
  <resultMap type="cn.addenda.biz.log.entity.CascadeParentConfig" id="CascadeParentConfigMap">
    <id property="id" column="id" jdbcType="BIGINT"/>
  </resultMap>

  <sql id="allColumn">
    `id`, `code`, `name`, `log_group`, `log_snapshot_id`, `if_log`, `parent_id`,
    `creator`, `creator_name`, `create_time`, `modifier`, `modifier_name`, `modify_time`
  </sql>

  <sql id="setCondition">
    <if test="code != null">
      `code` = #{code,jdbcType=VARCHAR},
    </if>
    <if test="name != null">
      `name` = #{name,jdbcType=VARCHAR},
    </if>
    <if test="logGroup != null">
      `log_group` = #{logGroup,jdbcType=VARCHAR},
    </if>
    <if test="logSnapshotId != null">
      `log_snapshot_id` = #{logSnapshotId,jdbcType=VARCHAR},
    </if>
    <if test="ifLog != null">
      `if_log` = #{ifLog,jdbcType=INTEGER},
    </if>
    <if test="parentId != null">
      `parent_id` = #{parentId,jdbcType=BIGINT},
    </if>
  </sql>

  <sql id="queryCondition">
    <if test="id != null">
      and `id` = #{id,jdbcType=BIGINT}
    </if>
    <if test="code != null">
      and `code` = #{code,jdbcType=VARCHAR}
    </if>
    <if test="name != null">
      and `name` = #{name,jdbcType=VARCHAR}
    </if>
    <if test="logGroup != null">
      and `log_group` = #{logGroup,jdbcType=VARCHAR}
    </if>
    <if test="logSnapshotId != null">
      and `log_snapshot_id` = #{logSnapshotId,jdbcType=VARCHAR}
    </if>
    <if test="ifLog != null">
      and `if_log` = #{ifLog,jdbcType=INTEGER}
    </if>
    <if test="parentId != null">
      and `parent_id` = #{parentId,jdbcType=BIGINT}
    </if>
  </sql>

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    insert into t_cascade_parent_config
    <trim prefix="set" suffixOverrides=",">
      `id` = #{id,jdbcType=BIGINT},
      <include refid="setCondition"/>
    </trim>
  </insert>

  <update id="updateById">
    update t_cascade_parent_config
    <trim prefix="set" suffixOverrides=",">
      <include refid="setCondition"/>
    </trim>
    where `id` = #{id,jdbcType=BIGINT}
    and `if_log` = 0
  </update>

  <delete id="deleteById">
    delete
    from t_cascade_parent_config
    where `id` = #{id,jdbcType=BIGINT}
      and `if_log` = 0
  </delete>

  <delete id="deleteByEntity">
    delete from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
    and `if_log` = 0
  </delete>

  <select id="queryByEntity" resultMap="CascadeParentConfigMap">
    select
    <include refid="allColumn"/>
    from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
    and `if_log` = 0
  </select>

  <select id="queryById" resultMap="CascadeParentConfigMap">
    select
    <include refid="allColumn"/>
    from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      `id` = #{id,jdbcType=BIGINT}
    </trim>
    and `if_log` = 0
  </select>

  <select id="queryByIdList" resultMap="CascadeParentConfigMap">
    select
    <include refid="allColumn"/>
    from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      `id` in
      <foreach collection="idList" open="(" close=")" item="id" separator=",">
        #{id,jdbcType=BIGINT}
      </foreach>
    </trim>
    and `if_log` = 0
  </select>

  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      <include refid="queryCondition"/>
    </trim>
    and `if_log` = 0
  </select>

  <select id="queryByLogSnapshotId" resultMap="CascadeParentConfigMap">
    select
    <include refid="allColumn"/>
    from t_cascade_parent_config
    <trim prefix="where" prefixOverrides="and">
      `log_snapshot_id` = #{logSnapshotId,jdbcType=VARCHAR}
    </trim>
  </select>

</mapper>
